#map {
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
}

chart {
    position: absolute;
    right: 0px;
    top: 0px;
}

.paneloverlayer {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 0px;
    top: 60px;
    background: rgba(2, 2, 2, 0.3);
    opacity: 0.8;
    border-radius: 10px;
}

.panelGeoJson{
  position: absolute;
  width: 300px;
  top: 580px;
  right: 10px;
  bottom: 100px;
  background: rgba(2, 2, 2, 0.3);
  opacity: 0.8;
  border-radius: 10px;
  padding: 5px 20px;
}

.axiscolor path,
.axiscolor line {
  fill: none;
  stroke: LightSeaGreen;
  shape-rendering: crispEdges;
}

.x.axiscolor {
  fill: LightSeaGreen;
}

.y.axiscolor {
  fill: LightSeaGreen;
}

.line {
  fill: none;
  stroke: LightSeaGreen;
  stroke-width: 2px;
}

.circle {
    fill: LightSeaGreen;
    stroke: LightSeaGreen;
    stroke-width: 0.2px;
}

.zeroline {
    fill: none;
    stroke: LightSeaGreen;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
}

.zerolinetext {
    fill: LightSeaGreen;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: LightSeaGreen;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: LightSeaGreen;
}
