.login-panel {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 350px;
    padding: 30px 45px 45px 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #D4D1D1;
    border-radius: 5px;
}

.login-form input{
    text-align: center;
    height:45px;
    width: 100%;
    border: 1px solid #D4D1D1;
    background: GhostWhite;
}

.login-form input:focus{
    outline: 0;
    background: Ivory;
}

.login-form input[type="text"]{
    border-radius: 5px 5px 0 0;
}

.login-form input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.login-form button.login{
    padding: 10px 20px;
    margin-top:18px;
}
