.tabularresults-panel {
    position: absolute;
    top: 60px;
    left: 2%;
    width: 96%;
    padding: 30px 45px 45px 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #D4D1D1;
    border-radius: 5px;
}
