<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Graphical Summary</title>

  <meta name="description" content="graphical summary">
  <meta name="author" content="Fei Yu">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="//mapzen.com/tangram/tangram.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'demo/css/graphicalsummary.css' %}" />
</head>

<body>
  <div id="map" class="leaflet-container leaflet-fade-anim"></div>
  <script type="text/javascript" src="{% static 'demo/js/graphicalsummary.js' %}"></script>
  <script type="text/javascript"> window.addEventListener("hashchange",function(){parent.postMessage(window.location.hash, "*")}); </script>

  <div class="paneloverlayer">
    <chart id="passengerCountChart"></chart>
  </div>
  <script type="text/javascript">
  $.get('/chartall', function(data) { showChart(data); });
  $.get('/houronmap/?h=11', function(data) { showOverlayers(data); });
  </script>
  <div class="panelGeoJson">
    <H5 style="color: LightSeaGreen;"> >> Point &bull; : Pickup Position</H5>
    <H5 style="color: SlateBlue;"> >> Point &bull; : Dropoff Position</H5>
    <H5 style="color: DarkOrange;"> >> Line &#8212; : Trip from Pickup Point to Dropoff Point</H5>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-inverse " role="navigation">

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">NYC Taxi Trip Data Visualization</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Passenger Count Over Time<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li> <a href="#" id = "optmorning">Morning: 06:00 - 12:00</a> </li>
                  <li> <a href="#" id = "optafternoon">Afternoon: 12:00 - 18:00</a> </li>
                  <li> <a href="#" id = "optevening">Evening: 18:00 - 0:00/24:00</a> </li>
                  <li> <a href="#" id = "optnight">Night: 0:00 - 06:00</a> </li>
                  <li> <a href="#" id = "optall">All: 0:00 - 24:00</a> </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pickup & Dropoff Info On Map<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li> <a href="#" id = "hour0">00:00 - 01:00</a> </li>
                  <li> <a href="#" id = "hour1">01:00 - 02:00</a> </li>
                  <li> <a href="#" id = "hour2">02:00 - 03:00</a> </li>
                  <li> <a href="#" id = "hour3">03:00 - 04:00</a> </li>
                  <li> <a href="#" id = "hour4">04:00 - 05:00</a> </li>
                  <li> <a href="#" id = "hour5">05:00 - 06:00</a> </li>
                  <li> <a href="#" id = "hour6">06:00 - 07:00</a> </li>
                  <li> <a href="#" id = "hour7">07:00 - 08:00</a> </li>
                  <li> <a href="#" id = "hour8">08:00 - 09:00</a> </li>
                  <li> <a href="#" id = "hour9">09:00 - 10:00</a> </li>
                  <li> <a href="#" id = "hour10">10:00 - 11:00</a> </li>
                  <li> <a href="#" id = "hour11">11:00 - 12:00</a> </li>
                  <li> <a href="#" id = "hour12">12:00 - 13:00</a> </li>
                  <li> <a href="#" id = "hour13">13:00 - 14:00</a> </li>
                  <li> <a href="#" id = "hour14">14:00 - 15:00</a> </li>
                  <li> <a href="#" id = "hour15">15:00 - 16:00</a> </li>
                  <li> <a href="#" id = "hour16">16:00 - 17:00</a> </li>
                  <li> <a href="#" id = "hour17">17:00 - 18:00</a> </li>
                  <li> <a href="#" id = "hour18">18:00 - 19:00</a> </li>
                  <li> <a href="#" id = "hour19">19:00 - 20:00</a> </li>
                  <li> <a href="#" id = "hour20">20:00 - 21:00</a> </li>
                  <li> <a href="#" id = "hour21">21:00 - 22:00</a> </li>
                  <li> <a href="#" id = "hour22">22:00 - 23:00</a> </li>
                  <li> <a href="#" id = "hour23">23:00 - 24:00</a> </li>
                </ul>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $("#optmorning").on("click", function() { $.get('/chartmorning', function(data) { showChart(data); }); });
  $("#optafternoon").on("click", function() { $.get('/chartafternoon', function(data) { showChart(data); }); });
  $("#optevening").on("click", function() { $.get('/chartevening', function(data) { showChart(data); }); });
  $("#optnight").on("click", function() { $.get('/chartnight', function(data) { showChart(data); }); });
  $("#optall").on("click", function() { $.get('/chartall', function(data) { showChart(data); }); });

  $("#hour0").on("click", function() { $.get('/houronmap/?h=0', function(data) { showOverlayers(data); }); });
  $("#hour1").on("click", function() { $.get('/houronmap/?h=1', function(data) { showOverlayers(data); }); });
  $("#hour2").on("click", function() { $.get('/houronmap/?h=2', function(data) { showOverlayers(data); }); });
  $("#hour3").on("click", function() { $.get('/houronmap/?h=3', function(data) { showOverlayers(data); }); });
  $("#hour4").on("click", function() { $.get('/houronmap/?h=4', function(data) { showOverlayers(data); }); });
  $("#hour5").on("click", function() { $.get('/houronmap/?h=5', function(data) { showOverlayers(data); }); });
  $("#hour6").on("click", function() { $.get('/houronmap/?h=6', function(data) { showOverlayers(data); }); });
  $("#hour7").on("click", function() { $.get('/houronmap/?h=7', function(data) { showOverlayers(data); }); });
  $("#hour8").on("click", function() { $.get('/houronmap/?h=8', function(data) { showOverlayers(data); }); });
  $("#hour9").on("click", function() { $.get('/houronmap/?h=9', function(data) { showOverlayers(data); }); });
  $("#hour10").on("click", function() { $.get('/houronmap/?h=10', function(data) { showOverlayers(data); }); });
  $("#hour11").on("click", function() { $.get('/houronmap/?h=11', function(data) { showOverlayers(data); }); });
  $("#hour12").on("click", function() { $.get('/houronmap/?h=12', function(data) { showOverlayers(data); }); });
  $("#hour13").on("click", function() { $.get('/houronmap/?h=13', function(data) { showOverlayers(data); }); });
  $("#hour14").on("click", function() { $.get('/houronmap/?h=14', function(data) { showOverlayers(data); }); });
  $("#hour15").on("click", function() { $.get('/houronmap/?h=15', function(data) { showOverlayers(data); }); });
  $("#hour16").on("click", function() { $.get('/houronmap/?h=16', function(data) { showOverlayers(data); }); });
  $("#hour17").on("click", function() { $.get('/houronmap/?h=17', function(data) { showOverlayers(data); }); });
  $("#hour18").on("click", function() { $.get('/houronmap/?h=18', function(data) { showOverlayers(data); }); });
  $("#hour19").on("click", function() { $.get('/houronmap/?h=19', function(data) { showOverlayers(data); }); });
  $("#hour20").on("click", function() { $.get('/houronmap/?h=20', function(data) { showOverlayers(data); }); });
  $("#hour21").on("click", function() { $.get('/houronmap/?h=21', function(data) { showOverlayers(data); }); });
  $("#hour22").on("click", function() { $.get('/houronmap/?h=22', function(data) { showOverlayers(data); }); });
  $("#hour23").on("click", function() { $.get('/houronmap/?h=23', function(data) { showOverlayers(data); }); });
  </script>

</body>
</html>
